/***********************************************************************/

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,700&subset=hebrew');

@font-face {
  font-family: 'NarkisBlock';
  src: url('../font/narkis/NarkisBlockCon-Thin_MFW.eot');
  src: url('../font/narkis/NarkisBlockCon-Thin_MFW.eot?#iefix') format('embedded-opentype'), url('../font/narkis/NarkisBlockCon-Thin_MFW.woff') format('woff'), url('../font/narkis/NarkisBlockCon-Thin_MFW.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NarkisBlock';
  src: url('../font/narkis/NarkisBlock-Condensed_MFW.eot');
  src: url('../font/narkis/NarkisBlock-Condensed_MFW.eot?#iefix') format('embedded-opentype'), url('../font/narkis/NarkisBlock-Condensed_MFW.woff') format('woff'), url('../font/narkis/NarkisBlock-Condensed_MFW.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarkisBlock';
  src: url('../font/narkis/NarkisBlockCon-Bold_MFW.eot');
  src: url('../font/narkis/NarkisBlockCon-Bold_MFW.eot?#iefix') format('embedded-opentype'), url('../font/narkis/NarkisBlockCon-Bold_MFW.woff') format('woff'), url('../font/narkis/NarkisBlockCon-Bold_MFW.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/***********************************************************************/

/* ICONS */

@font-face {
  font-family: 'as-icons';
  src: url('../font/icons/as-icons.eot');
  src: url('../font/icons/as-icons.eot#iefix') format('embedded-opentype'),
  url('../font/icons/as-icons.ttf') format('truetype'),
  url('../font/icons/as-icons.woff') format('woff'),
  url('../font/icons/as-icons.svg#as-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline;
  font-family: 'as-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FA8833;
}

.icon-lock:before {
  content: "\4a";
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-l:before {
  content: "\e901";
}

.icon-arrow-r:before {
  content: "\e902";
}

.icon-arrow-up:before {
  content: "\e903";
}

.icon-briefcase:before {
  content: "\e904";
}

.icon-card:before {
  content: "\e905";
}

.icon-close:before {
  content: "\e906";
}

.icon-date:before {
  content: "\e907";
}

.icon-download-lg:before {
  content: "\e908";
}

.icon-download-sm:before {
  content: "\e909";
}

.icon-location:before {
  content: "\e90a";
}

.icon-pen:before {
  content: "\e90c";
}

.icon-print:before {
  content: "\e90d";
}

.icon-profile:before {
  content: "\e90e";
}

.icon-property:before {
  content: "\e90f";
}

.icon-question:before {
  content: "\e910";
}

.icon-resize:before {
  content: "\e911";
}

.icon-share:before {
  content: "\e912";
}

.icon-upload:before {
  content: "\e913";
}






/***********************************************************************/

/* GENERAL */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  direction: rtl;
  color: #6D6E71;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
.tooltip {
  font-family: 'Assistant', sans-serif;
}

img {
  border: none;
  max-width: 100%;
}

label {
  color: #6D6E71;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: 'NarkisBlock', Assistant, sans-serif;
  font-weight: bold;
  font-size: 49px;
  line-height: 50px;
}

h3 {
  font-family: 'NarkisBlock', Assistant, sans-serif;
  font-weight: lighter;
  font-size: 39px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-family: 'NarkisBlock', Assistant, sans-serif;
  font-size: 29px;
  font-weight: normal;
}

.container {
  width: 1380px;
  display: block;
  padding-left: 0;
  padding-right: 0;
  max-width: 95%;
}

.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.section-padding {
  padding: 20px 0;
}

.no-padding {
  padding: 0;
}

.text-small {
  font-size: .875em;
  color: #898A94;
}

strong {
  color: black;
  font-weight: 700;
}

ol {
  list-style-position: inside;
}

.ltr {
  direction: ltr;
}





/***********************************************************************/

/* UI / FORMS */

.help {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  margin-right: 5px;
  position: relative;
  cursor: help;
}

.help::before {
  content: "\e910";
  display: inline-block;
  font-family: "as-icons" !important;
  font-weight: normal;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: -1px;
  height: 100%;
  color: #E87722;
}

.status-box {
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 30px;
  text-align: center;
  line-height: 50px;
  display: block;
  vertical-align: bottom;
  text-align: center;
  position: relative;
}

.status-box-loading {
  border-color: #E87722;
}

.status-box-success {
  border-color: #00A768;
}

.success-mark {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../img/successmark.svg) no-repeat;
  background-size: contain;
}

.status-box:after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  content: '';
  margin: -10px 0 0 -10px;
}

.status-box-success:after {
  background: #00A768 url(../img/checkmark-small.svg) no-repeat center;
}

.status-box-loading:after {
  background: url(../img/small-spinner.svg) no-repeat center;
}

.xico {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  vertical-align: middle;
}

.xico-success {
  background: #00A768 url(../img/checkmark-small.svg) no-repeat center;
}

.button-close {
  font-size: 10px;
  color: #cecece;
  position: relative;
  cursor: pointer;
}

.button-close:hover {
  color: #C2C2C2;
}



.input-group-addon {
  background-color: white;
  width: 105px;
  vertical-align: middle;
  font-size: 20px;
  color: #D1D3DD
}

.section-control .form-control {
  display: inline-block;
  width: auto;
}

.section-control .small {
  width: 25%;
}

.section-control .small+.form-control {
  width: 75%;
}

.section-control .form-control+.form-control {
  margin-left: -1px;
}

.form-intext {
  line-height: 60px;
}

.box {
  padding: 30px 40px;
  background-color: #F4F4F7;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  /*margin-bottom: 50px;*/
}

.box>hr {
  margin-left: -40px;
  margin-right: -40px;
}

@media (max-width:750px) {
  .box {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.box a:not([class]) {
  color: rgba(0, 167, 104, 1);
}

.box-alt {
  background-color: transparent;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.tooltip-inner {
  box-shadow: 0 4px 12px rgba(198, 199, 209, 0.5)
}

.tooltip-inner {
  background: rgba(96, 97, 104, .9);
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  min-width: 200px;
  text-align: right;
}

input+.tooltip {
  position: absolute;
  width: 100%;
}

input+.tooltip .tooltip-inner {
  min-width: 100%;
}

.tooltip.left .tooltip-arrow {
  right: -5px;
  margin-top: -10px;
  border-width: 10px 0 10px 10px;
  border-left-color: rgba(96, 97, 104, .9);
}

.tooltip.right .tooltip-arrow {
  left: -5px;
  margin-top: -10px;
  border-width: 10px 10px 10px 0;
  border-right-color: rgba(96, 97, 104, .9);
}

.tooltip.top .tooltip-arrow {
  bottom: -5px;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: rgba(96, 97, 104, .9);
}

.tooltip.bottom .tooltip-arrow {
  top: -5px;
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: rgba(96, 97, 104, .9);
}

.tooltip.top {
  margin-top: -10px;
}

.tooltip.bottom {
  margin-top: 10px;
}

.tooltip.left {
  margin-left: -10px
}

.tooltip.right {
  margin-right: -10px
}

.decrow {
  position: relative;
}

.decrow:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.deccol {
  float: left;
}

.deccol+.deccol {
  margin-left: 1.7857142857142856%;
}

.deccol {
  width: 28.57142857142857%;
}

.deccol-2 {
  width: 39.285714285714285%;
}

.deccol-off {
  margin-left: 10.7142857143%;
}

@media (max-width:768px) {
  .deccol,
  .deccol-2 {
    width: 48%;
    margin-left: 0 !important;
    float: none;
    display: inline-block;
  }
}

@media (max-width:488px) {
  .deccol,
  .deccol-2 {
    width: 100%;
  }
}

.btn {
  line-height: 48px;
  height: 50px;
  border-radius: 50px;
  outline: none !important;
  min-width: 160px;
  padding: 0 25px 2px;
  position: relative;
  text-align: center;
  font-size: 17px;
}

.btn-lg {
  line-height: 58px;
  height: 60px;
}

.btn-sm {
  line-height: 38px;
  height: 40px;
  font-size: 16px;
}

.btn * {
  vertical-align: middle;
}

.btn>[class*='icon'] {
  margin-left: 10px;
}

.btn-default {
  border-color: #E87722;
  color: #E87722;
}

.btn-default:hover,
.btn-default:active,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:active:focus {
  border-color: #E87722;
  background-color: #fff;
  color: #E87722;
}

.btn-primary {
  background-color: #FA8833;
  border-color: #FA8833;
  color: #fff;
  font-weight: bold;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #F97B1A;
  border-color: #F97B1A;
  color: #fff;
}

.btn-al {
  min-width: 150px;
  padding-left: 50px;
  text-align: right;
}

.btn-al.btn-sm {
  min-width: 100px;
}

.btn-al.btn-lg {
  min-width: 240px
}

.btn-al:before {
  content: "\e901";
  font-family: "as-icons" !important;
  position: absolute;
  font-weight: normal;
  left: 15px;
  top: 0;
  line-height: 50px;
  color: white;
}

.btn-al-2:before {
  left: auto;
  right: 15px;
  content: "\e902";
}

.btn-al-auto {
  min-width: auto;
}

.btn-al-2 {
  padding-left: 25px;
  padding-right: 50px;
}

.btn-default.btn-al:before {
  color: rgba(249, 123, 26, 1);
}

.btn-al.btn-lg:before {
  line-height: 60px;
}

.btn-al.btn-sm:before {
  line-height: 40px;
}

.btn-success {
  background-color: #005151;
  border-color: #005151;
  font-weight: bold;
}

.btn-success-alt {
  background-color: white;
  border-color: #00A768;
}

.btn-success-alt>.xico {
  margin-left: 10px;
}

.btn-success:hover,
.btn-success:active,
.btn-success:active:hover,
.btn-success:focus,
.btn-success:active:focus {
  background-color: #004747;
  border-color: #004747;
  color: #fff;
}

.table-bordered>thead>tr>th {
  border-bottom: 0;
}

.slick-slide {
  outline: none !important;
}

.slick-list.draggable {
  cursor: -webkit-grab;
  cursor: grab;
}

.slick-list.draggable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.bicon {
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 50px;
  /*background-color: #006A52;*/
  background: white;
  /*color: white;*/
  text-align: center;
  font-size: 29px;
}

.bicon::before {
  color: #006A52;
  line-height: 56px;
}

.switch {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
  width: 70px;
  position: relative;
  border-radius: 30px;
  background: #D1D3DD;
  color: white;
  cursor: pointer;
}

.label-switch * {
  vertical-align: middle;
}

.label-switch .switch {
  margin-right: 7px;
}

.switch-labels {
  height: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 30px;
}

ul.file-list {
  list-style: none;
}

.uploaded-file {
  display: inline-block;
  /*cursor: default;*/
  line-height: 48px;
  padding: 0 50px ;
  border: 1px solid #E8E9ED;
  color: black;
  border-radius: 30px;
  vertical-align: middle;
  position: relative;
}

.uploaded-file:before {
  content: "";
  background: #00A768 url(../img/checkmark-small.svg) no-repeat center;
  display: inline-block;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  position: absolute;
  border-radius: 20px;
  vertical-align: middle;
}

.uploaded-file>.button-close {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 20px;
}

.button-close.icon-close::before {
  color: #cecece !important;
  position: absolute;
  left: 0;
  line-height: 20px;
}

.switch input {
  position: absolute;
  visibility: hidden;
}

.switch-labels>* {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  position: absolute;
  top: 0;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
}

.switch-label-yes {
  opacity: 0;
  right: 15px;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
}

.switch-label-no {
  left: 15px;
}

.switch input:checked+.switch-labels .switch-label-no {
  opacity: 0;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
}

.switch input:checked+.switch-labels .switch-label-yes {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.switch input:checked+.switch-labels {
  background-color: #00A768;
}

.switch-labels:after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch input:checked+.switch-labels:after {
  /*right: 100%;
  margin-right: -25px;*/
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}







/*Checkbox*/

.check,
.radio {
  display: block;
  position: relative;
  font-weight: normal;
}

.check *,
.radio * {
  vertical-align: middle;
}

.check>input,
.radio>input {
  position: absolute;
  visibility: hidden;
  right: 0;
}

.check>input+span {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 3px;
  border: 1px solid #B6B8C3;
  background: white;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
}

.radio>input+span {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 7px;
  border: 1px solid #B6B8C3;
  background: white;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
}

.check-rtl {
  padding-right: 25px;
}

.check-rtl>input+span {
  position: absolute;
  right: 0;
  top: 8px;
}

.check>input+span:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  content: '';
  background: url(../img/checkmark-small.svg) no-repeat center;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.radio>input+span:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: white;
  content: '';
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.check>input:checked+span:after,
.radio>input:checked+span:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.check>input:checked+span,
.radio>input:checked+span {
  background-color: #00A768;
  border-width: 0;
}

.panel {
  margin: 0;
  background-color: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.share {
  font-size: 0;
  position: relative;
}

.share::before {
  content: "\e912";
  font-family: "as-icons" !important;
  font-size: 25px;
  width: 25px;
  height: 25px;
  color: #FA8833;
  position: absolute;
  left: 0;
  /*background: url(../img/share.svg) no-repeat center;*/
}

.root-title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
}

.content-box {
  padding: 50px 90px;
}

.content-box:last-child {
  padding: 50px 90px 100px;
}

@media(max-width:800px) {
  .content-box:last-child {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media(max-width:500px) {
  .content-box:last-child {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.plus {
  display: inline-block;
  position: relative;
  padding: 0 35px 0 0;
  color: #00A768;
  font-weight: bold;
  cursor: pointer;
}

.plus-icon {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  font-size: 19px;
  height: 26px;
  width: 26px;
  border: 1px solid #00A768;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.plus:hover .plus-icon {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.plus-icon:before,
.plus-icon:after {
  position: absolute;
  display: block;
  background-color: #00A768;
  overflow: hidden;
  top: 50%;
  left: 50%;
  content: '';
  transform: translate(-50%, -50%);
}

.plus-icon:before {
  width: 2px;
  height: 8px;
}

.plus-icon:after {
  width: 8px;
  height: 2px;
}

.gui-accordion {
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  max-width: 840px;
  margin: 20px auto;
}

.gui-accordion-header * {
  vertical-align: middle;
}

.gui-accordion-header {
  min-height: 130px;
  padding: 20px;
  background: #F4F4F7;
  border-radius: 5px 5px 0 0;
}

.gui-acc-profile-img {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 3px;
  background-size: cover;
  margin-left: 27px;
}

.gui-acc-profile-name {
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  color: black;
  display: block;
}

.gui-accordion [class*="icon-"],
.gui-accordion a {
  font-size: 24px;
  vertical-align: middle;
}

.gui-acc-profile-info {
  display: inline-block;
  margin: 10px 0;
}

.gui-accordion-status,
.gui-acc-profile {
  display: inline-block;
}

.gui-accordion-status>* {
  vertical-align: top;
}

.text-warning {
  color: #FA8833;
}

.text-success {
  color: #00A768;
}

@media (max-width:550px) {
  .gui-acc-profile-img {
    width: 50px;
    height: 50px;
  }
  .gui-acc-profile-name {
    font-size: 16px;
    line-height: 16px;
  }
}

.gui-accordion-content {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.active .gui-accordion-content {
  opacity: 1;
}

.gui-accordion-toggle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: white;
  border: 1px solid #E8E9ED;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.gui-accordion-toggle:after {
  font-family: "as-icons" !important;
  content: "\e900";
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 14px;
  color: #00965E
}

.active .gui-accordion-toggle:after {
  content: "\e903";
}

.profile-accordion .gui-acc-profile,
.profile-table tr td:first-child {
  width: 65.66%
}

.profile-accordion .gui-accordion-status,
.profile-table tr td:nth-child(2) {
  width: 25.19%;
}

.gui-accordion-toggle-holder {
  width: 6%;
  display: inline-block;
}

.profile-table {
  width: 100%;
}

.profile-table tr td:nth-child(2),
.profile-table tr td:nth-child(3) {
  padding-right: 0
}

.profile-table td {
  border-top: 1px solid #E8E9ED;
  padding: 20px;
  vertical-align: middle;
}

.icon-download {
  color: #E87722;
  font-size: 26px;
}

#content {
  padding-top: 133px;
}







/* SITE: */

#header {
  background: white;
  border-bottom: 1px solid transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99
}

#header.header-small {
  border-bottom: 1px solid #ddd;
}

#header .container-fluid {
  padding: 0;
  line-height: 50px;
}

#header.header-small .container-fluid {
  padding: 0;
  line-height: 42px;
}

.document-ready #header .container-fluid {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header .container-fluid>.h1,
#header .container-fluid>.h2,
#header .container-fluid>.h3,
#header .container-fluid>h1,
#header .container-fluid>h2,
#header .container-fluid>h3 {
  margin: 0;
}

.mobile-menu-holder,
.menu-title {
  padding: 40px 15px;
}

.mobile-menu-holder,
.menu-title,
#header .btn,
#header h2,
#mobile-menu {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#header .container-fluid .mobile-menu-holder,
#header .container-fluid .share,
#header .container-fluid #logo,
#header .container-fluid .btn {
  vertical-align: middle;
  display: inline-block;
}

.menu-title h2 {
  vertical-align: middle;
  display: inline-block;
  margin-right: 200px;
}

#header .btn+.btn {
  margin-right: 10px;
}

#header .share {
  margin: 0 5% 0 15px;
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 180px;
  border-left: 1px solid #DDDDDD;
  background: url(../img/logo.png) no-repeat center;
  -webkit-transition: height .5s ease;
  transition: height .5s ease;
  background-size: contain;
}

.header-small #logo {
  background: url(../img/logo-horizontal.png) no-repeat center;
  background-size: contain;
}

.header-small h2 {
  line-height: 50px;
}



/***********************************************************************/

/* FIXED HEADER */

#header.affix {
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #ddd;
}

.affix #logo {
  background-image: url(../img/logo-horizontal.png);
}

.affix .mobile-menu-holder,
.affix .menu-title,
.header-small .mobile-menu-holder,
.header-small .menu-title {
  padding: 20px 15px;
}

.affix .btn,
.header-small .btn {
  line-height: 48px;
  height: 50px;
}

.affix h2,
.header-small h2 {
  font-size: 37px;
}

.affix #mobile-menu,
.header-small #mobile-menu {
  margin: 20px 0;
}

@media (max-width:1300px) {
  .header-big-title {
    font-size: 20px;
    font-size: 3vw;
  }
  .header-h2-clone.header-big-title {
    font-size: 4vw;
  }
}

@media (max-width:500px) {
  .header-h2-clone.header-big-title {
    font-size: 5.2vw;
  }
}

.header-h2-clone {
  display: none;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #EFEFEF;
  margin: 0;
  white-space: nowrap;
}

@media (max-width:400px) {
  .header-h2-clone {
    font-size: 42px;
  }
}

@media (max-width:1200px) {
  #header .container-fluid>h2 {
    display: none
  }
  .header-h2-clone {
    display: block;
  }
}

@media (max-width:850px) {
  #header .container-fluid>h2+.btn,
  #header .container-fluid>h2+.btn+.btn {
    display: none;
  }
}

#footer {
  height: 90px;
  background: #6D6E71;
  color: white;
}

#footer nav {
  padding: 33px 0 0
}

#footer nav a {
  color: white;
  margin-left: 30px;
}

.hero {
  /*height: 540px; */
  /*background: #2C3131;*/
  /*background: #6D6E71;*/
  background: #6D6E71;
  position: relative;
  overflow: hidden;
}

.hero.closed:before {
  content: "הגיוס הושלם!";
  display: inline-block;
  position: absolute;
  top: 50px;
  right: -200px;
  z-index: 9;
  background: #E87722;
  font-size: 25px;
  font-weight: bold;
  width: 600px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

.dl-items-col {
  float: right;
  width: 50%;
}

.dl-items-col:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.h-grid:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.h-grid-col-1 {
  float: left;
  width: 23.913%;
}

.h-grid-col-2 {
  float: right;
  width: 76.087%;
}

.h-grid-col-half-1,
.h-grid-col-half-2 {
  width: 50%;
}

.h-grid-col-half-1 {
  float: left;
}

.h-grid-col-half-2 {
  float: right;
}

.hero-side {
  padding: 30px 40px;
}

.hero-list h4 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  top: 14px;
  padding: 17px 0;
}

.hero-carousel-side {
  padding: 30px 0;
}

.hero-list .h-grid-col-half-1 {
  width: 66%;
}

.hero-list .h-grid-col-half-2 {
  width: 33%;
}

@media (max-width:850px) {
  .hero-list .h-grid-col-half-1,
  .hero-list .h-grid-col-half-2,
  .h-grid-col-half-1,
  .h-grid-col-half-2 {
    float: none;
    width: auto;
  }
}

@media (max-width:1150px) {
  .hero {
    height: auto;
    padding-bottom: 30px;
  }
  .h-grid-col-1,
  .h-grid-col-2 {
    float: none;
    width: auto;
  }
  .hero-side {
    -webkit-columns: 3;
    columns: 3;
    padding-top: 0;
  }
}

@media (max-width:970px) {
  .hero-side {
    -webkit-columns: 2;
    columns: 2;
  }
}

.hero-in .hero-side {
  -webkit-columns: auto;
  columns: auto
}

.hero-in .dl-item-title {
  font-size: 15px;
}

.hero-in .dl-item-desc {
  font-size: 28px;
}

.hero-in .bicon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
}

.hero-in .bicon:before {
  line-height: 45px;
}

.hero-in .hero-carousel img {
  height: 340px;
  min-width: 100%;
  width: auto;
}

.hero-in .slick-dots {
  /*display: none !important;*/
  position: absolute;
}

.hero-list {
  border-radius: 5px;
}

.hero-list+.hero-list {
  margin-top: 50px;
}

@media (max-width:480px) {
  .dl-items-col {
    float: none;
    width: 100%;
    padding-bottom: 0;
  }
  .dl-item {
    float: right;
    width: 50%;
  }
  .dl-items-col .box-map {
    width: 100%;
  }
  .hero-side {
    padding-right: 0;
  }
  .hero-in {
    padding-bottom: 0;
  }
  .box-map {
    margin: 0 -5%;
    width: auto !important;
  }
}

@media (max-width:430px) {
  .hero-side {
    -webkit-columns: 1;
    columns: 1;
  }
}

@media (max-width:480px) {
  .dl-item {
    float: none;
    width: 100%;
  }
}

.hero-carousel img {
  height: 480px;
  min-width: 100%;
  width: auto;
}

.hero-carousel .slick-dots {
  text-align: center;
  font-size: 0;
  padding: 10px 0 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}

.hero-carousel .slick-dots .dot {
  list-style: none;
  width: 8px;
  height: 8px;
  margin: 0 6px;
  display: inline-block;
  border-radius: 8px;
  background: #afb1b6;
  cursor: pointer;
}

.hero-carousel .slick-dots li.slick-active {
  background: white;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hero-carousel {
  width: 100%;
}

.closed .hero-carousel {
  opacity: .5;
}

.dl-item .bicon {
  vertical-align: middle;
}

.dl-item {
  padding: 20px 0;
  white-space: nowrap;
}

.dl-item-text {
  padding: 0 10px 0 0;
  vertical-align: middle;
}

.dl-item-title {
  color: #B1B3B7;
  font-size: 17px;
  font-weight: bold;
  display: block;
  line-height: 1;
}

.dl-item-text {
  display: inline-block;
}

.dl-item-desc {
  color: white;
  font-size: 33px;
  line-height: 1;
  font-family: 'NarkisBlock', Assistant, sans-serif;
  font-weight: normal;
}

@media (max-width:970px) {
  .dl-item-title {
    font-size: 10px;
  }
  .dl-item-desc {
    font-size: 20px;
  }
}

#mobile-menu {
  display: inline-block;
  width: 30px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 15;
  margin: 40px 0;
  padding: 11px 0;
}

#mobile-menu span {
  display: block;
  height: 4px;
  border: 1px solid #FA8833;
  border-radius: 4px;
  margin: 4px 0;
}

#mobile-menu {
  display: none;
}

@media (max-width:960px) {
  #mobile-menu {
    display: inline-block;
  }
  #header .share {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -12.5px;
  }
  .mobile-menu-holder {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 220px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: white;
    white-space: normal !important;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    padding-top: 80px;
    margin-top: 0px !important;
  }
  .mobile-menu-active .mobile-menu-holder {
    visibility: visible;
    opacity: 1;
    left: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .mobile-menu-holder .btn {
    width: 190px;
    margin: 10px auto;
    display: block !important;
  }
  .mobile-menu-active:after {
    background: rgba(0, 0, 0, .6);
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    position: fixed;
  }
}

.map-content {
  background: #F3F3F5
}

.box-map iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.box-map {
  position: relative;
  height: 360px;
  clear: both;
}

.dl-items-col .box-map {
  height: 220px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0
}

@media (max-width:800px) {
  .box-map {
    height: 100px
  }
}

.map-content .h-grid-col-2 {
  background: white;
  min-height: 360px;
}

.richtext {
  clear: both;
}

.richtext:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.richtext *+ul {
  padding-top: 20px;
}

.richtext>ul {
  list-style: none;
}

.richtext>ul li {
  padding-bottom: 5px;
  position: relative;
  padding-right: 17px;
}

.richtext>ul li:before {
  content: '';
  background-color: #00A768;
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  top: 13px;
  right: 0;
}

.richtext h3,
.richtext h4,
.richtext h5 {
  padding-bottom: 20px;
}

.richtext .btn+.btn {
  margin-right: 10px;
}

@media (max-width:650px) {
  .richtext .btn-lg {
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
  }
  .richtext .btn+.btn {
    margin-right: 0;
  }
}

.td-th {
  font-weight: bold;
  color: black;
}

.table-inline-headings {
  table-layout: fixed;
}

@media (max-width:800px) {
  .table-inline-headings,
  .table-inline-headings tr,
  .table-inline-headings tbody {
    display: block;
    overflow: hidden;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
  }
  .table-inline-headings td {
    float: left;
    width: 50%;
    display: block;
    position: relative;
  }
  .table-inline-headings td,
  .table-inline-headings.table-bordered>tbody>tr>td {
    border-width: 1px 1px 0 1px;
  }
  .table-inline-headings td.td-th {
    float: right;
    clear: both;
    right: 1px;
  }
  .content-box {
    padding-left: 20px;
    padding-right: 20px;
  }
  .table-inline-headings tr {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .table-inline-headings tr td.td-th {
    border-right: 0 !important;
  }
  .table-inline-headings tr td.td-th+td {
    border-left: 0 !important;
  }
}







/* Dialogs */

.modal-dialog {
  margin-top: 15vh;
}

.dialog-login .modal-dialog {
  max-width: 480px;
}

.dialog-login .btn {
  min-width: 100%;
}

.dialog-registration-closed .icon-lock {
  float: right;
}

.modal-dialog .btn.btn-lg {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.dialog-registration-closed .btn+.btn {
  margin-top: 20px;
}

.dialog-registration-closed .modal-dialog {
  /*max-width: 480px;*/
}

.dialog-registration-confirmed .modal-footer {
  text-align: center;
  /*padding-top: 30px;*/
}

.dialog-registration-confirmed .modal-dialog {
  max-width: 700px;
  text-align: center;
}

.modal-footer {
  min-height: 100px;
}

.modal-footer img {
  max-width: 200px
}

.modal-content {
  -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.05), 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.05), 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border-color: transparent
}

.modal-header {
  padding: 30px 60px;
  border-bottom: 1px solid #DDDDDD;
  position: relative;
}

.modal-backdrop {
  background: #425252
}

.modal .icon-close {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  margin: 0;
  text-shadow: none;
  cursor: pointer;
}

.modal .icon-close::before {
  color: #CECECE;
}

.modal-body {
  padding: 30px 60px;
}

.modal-title * {
  vertical-align: middle;
}

.modal-title-icon {
  margin-left: 12px;
  font-size: 40px;
  line-height: 40px;
}

.modal-title-icon::before {}

.modal-body .success-mark {
  margin: 30px auto 15px;
}

.modal-body h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

.modal-body p+.btn {
  margin-top: 15px;
}







/* FORMS */

.form-row {
  margin-bottom: 15px;
}

.input-group {
  width: 100%;
}

.form-row * {
  vertical-align: bottom;
}

.form-row .input-group-addon {
  vertical-align: middle;
}

.form-group-6 {
  width: 50%;
  padding-left: 15px;
  display: inline-block;
  margin-bottom: 0
}

@media (max-width:640px) {
  .form-group-6 {
    width: 100%;
    padding-left: 0;
    padding-bottom: 10px;
  }
}

.form-group {
  padding-top: 5px;
}

input.form-control,
select.form-control {
  height: 50px;
}

select.form-control {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
  padding-left: 40px;
}

select option {
  padding: 5px 10px;
}

.form-control {
  border-radius: 0;
  font-size: 20px;
  -webkit-box-shadow: inset 0 2px 0 rgba(198, 199, 209, 0.2);
  box-shadow: inset 0 2px 0 rgba(198, 199, 209, 0.2);
}

textarea.form-control {
  height: 160px;
  resize: vertical;
}

textarea.form-control.appendix-a-area {
  height: 490px;
  max-height: 60vh;
}

::-webkit-input-placeholder {
  opacity: .5;
}

::-moz-placeholder {
  opacity: .5;
}

:-ms-input-placeholder {
  opacity: .5;
}

:-moz-placeholder {
  opacity: .5;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
}

.richtext p.smaller {
  font-size: 16px;
}

.richtext p .form-control {
  width: 200px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px;
}

.richtext-input-2 .form-control {
  width: 170px;
}

label {
  margin-bottom: 7px;
}

.form-footer a {
  color: #00A768
}

.form-footer {
  padding-top: 45px;
}

.recaptcha {
  padding-bottom: 35px;
}

.inline-form-group::before {
  display: table;
  content: " ";
}

.inline-form-group::after {
  clear: both;
  display: table;
  content: " ";
}

.inline-form-group>.form-group {
  display: inline-block;
  float: right;
  padding: 0;
}

.inline-form-group>.form-group:not(:last-child) {
  padding: 0 0 0 15px;
}

.ifg-1 {
  width: 6.666%
}

.ifg-2 {
  width: 13.333%
}

.ifg-3 {
  width: 20%
}

.ifg-4 {
  width: 26.666%
}

.inline-form-button.btn {
  display: block;
  min-width: 0;
}







/* /FORMS */

.info {
  padding: 60px 0;
  max-width: 840px;
  margin: auto;
}

.info:first-of-type {
  padding-top: 10px;
}

.gui-form-holder {
  border-radius: 5px;
  border: 1px solid #E8E9ED;
  max-width: 1100px;
  margin: auto;
  position: relative;
  padding: 60px 0 0;
}

.gui-form-holder+.gui-form-holder {
  margin-top: 50px;
}

.gui-form-holder:last-child,
.hero-list:last-child {
  margin-bottom: 100px;
}

.gui-form-holder.bottom-padding {
  padding-bottom: 30px;
}

.gui-form-holder-alt {
  max-width: 1100px;
  margin: auto;
  position: relative;
}

.gui-form-section {
  clear: both;
  padding: 80px 0 0;
}

.gui-tab {
  position: absolute;
  visibility: hidden;
  top: -99999px;
}

.gui-tab-wrapper {
  width: 840px;
  max-width: 90%;
  margin: auto;
  padding: 30px 0;
}

.gui-tab-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.gui-tab-wrapper+.gui-tab-wrapper {
  padding-top: 0;
}

.gui-tab.active {
  position: relative;
  visibility: visible;
  top: 0;
}

.gui-tabs {
  display: inline-block;
  font-size: 0;
}

.gui-tabs a {
  display: inline-block;
  text-align: center;
  line-height: 60px;
  background-color: #E8E9ED;
  color: #4E5056;
  font-size: 20px;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  font-weight: 600;
}

.gui-tabs a:last-child {
  border-radius: 6px 0 0 6px;
}

.gui-tabs a:first-child {
  border-radius: 0 6px 6px 0;
}

.gui-tabs a.active {
  color: white;
  background: #006A52;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, .075);
  box-shadow: 0 3px 0 rgba(0, 0, 0, .075);
  -webkit-transform: scaleY(1.2);
  transform: scaleY(1.2);
}

.gui-form-holder .gui-tabs {
  width: 840px;
  max-width: 90%;
  display: block;
  position: relative;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: auto;
  height: 60px;
  position: absolute;
}

.gui-form-holder .gui-tabs a {
  width: 50%;
}

.gui-tab form h5 {
  padding-bottom: 10px;
}

.submit-section {
  border-top: 1px solid #E8E9ED;
  margin-top: 40px;
}

.overlay-application-confirmed:after,
.overlay-registration-confirmed:after,
.overlay-registration-confirmed-early:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 106, 82, 0.9);
}

.overlay-registration-confirmed {
  background: url(../img/jesse-orrico-60368.jpg) no-repeat;
  background-size: cover;
  opacity: 1 !important;
}

.overlay-registration-confirmed-early {
  background: url(../img/StockSnap_Q07CJQBY5J.jpg) no-repeat;
  background-size: cover;
  opacity: 1 !important;
}

.overlay-application-confirmed {
  background: url(../img/austin-li-201808.jpg) no-repeat;
  background-size: cover;
  opacity: 1 !important;
}







/*Steps*/

.steps {
  clear: both;
  padding-top: 50px;
  border-bottom: 1px solid #E8E9ED;
  font-size: 0;
}

.steps+.gui-form-section {
  padding-top: 40px;
}

.step {
  display: inline-block;
  font-size: 17px;
  width: 25%;
  padding: 0 20px 20px;
  color: black;
  position: relative;
  top: 1px;
  font-weight: 600;
}

@media (max-width:890px) {
  .step {
    width: 46%;
    margin: 2%;
  }
}

@media (max-width:500px) {
  .step {
    width: 96%;
    margin: 2%;
  }
}

.step.active {
  border-bottom: 3px solid #00A768;
}

.step-index {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #00A768;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #00A768;
  line-height: 35px;
  font-size: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

.step.active .step-index {
  background-color: #00A768;
  color: white;
}

.step.done .step-index {
  font-size: 0;
  background-image: url(../img/checkmark.svg);
  background-size: 24px 24px;
}

.steptext {
  display: inline-block;
  width: 165px;
  vertical-align: middle;
  line-height: 1.1;
}

.select {
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-inline .select .form-control {
  width: 100%;
}

.form-inline .select {
  display: inline-block;
}


.form-inline label {
  margin-left: 15px;
}

.form-inline>* {
  margin-left: 20px;
}

.form-inline .collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.form-inline .collapse.in {
  display: inline-block;
}

.select,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:after {
  display: block;
  content: "\e900";
  line-height: 50px;
  background: white;
  color: rgba(0, 167, 104, 1);
  width: 30px;
  font-family: "as-icons" !important;
  border-right: 1px solid #ccc;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  text-align: center;
  font-size: 12px;
  pointer-events: none;
}





/*.app-1-inline>* {
  margin-left: 15px;
}*/

@media (max-width:880px) {
  /*.app-1-inline {
    width: 60%
  }
  .app-1-inline>* {
    margin-bottom: 14px;
  }*/
}

@media (max-width:630px) {
  /*.app-1-inline {
    width: 100%
  }*/
}

input {
  position: relative;
}

.form-error input,
.form-error input:focus,
input:required:focus:invalid {
  border-color: #e82222;
  -webkit-box-shadow: 0 0 0 2px rgba(232, 34, 34, 0.2);
  box-shadow: 0 0 0 2px rgba(232, 34, 34, 0.2);
  /*background: rgba(232, 34, 34, 0.05)*/
}

.form-control:focus {
  border-color: #00A768;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 167, 104, 0.2);
  box-shadow: 0 0 0 2px rgba(0, 167, 104, 0.2);
}

.form-control-sign {
  background: #EAF4FF url(../img/pen.svg) no-repeat;
  background-position: 90% center;
  background-position: calc(100% - 10px) center;
  border-color: #75B5FF;
}

.form-control-sign:focus {
  border-color: #75B5FF;
  -webkit-box-shadow: 0 0 0 2px rgba(117, 181, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(117, 181, 255, 0.2);
  background-image: none;
}

.x-form-control {
  line-height: 50px;
  height: 50px;
  display: block;
  font-size: 20px;
  color: black;
}

.x-form-control-1 {
  line-height: normal;
  height: auto;
  display: block;
  font-size: 20px;
  color: black;
}

.form-currency-select .select {
  width: 240px;
}

.fg-position .select {
  width: 445px;
  max-width: 70%;
  max-width: calc(100% - 80px);
}
